@model IEnumerable<teste_pratico_sustentacao.Models.ViagemAuxiliar>

@{
    ViewData["Title"] = "Lista de Viagems";
}

<div class="d-inline h4 float-left">Viagems</div>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataViagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotoristaId)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success btn-md float-right">Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataViagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalSaida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotoristaId)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Editar","Edit",null,new {id=item.Id }, new { @class = "btn btn-primary btn-sm"})
                        @Html.ActionLink("Detalhes", "Details", new { id=item.Id }, new { @class = "btn btn-info btn-sm"})
                        @Html.ActionLink("Excluir", "Delete", new { id=item.Id }, new { @class = "btn btn-danger btn-sm"})
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
